[2015-06-18 20:19] ankostis opened #2 "Windows support"
Thank you for your very convenient utility.

Would it be possible to decrypt cookies also on Window Chrome?

[2015-06-18 20:23] n8henrie commented on #2
Sorry, I guess the only mention of this is hidden [in some comments](http://n8henrie.com/2013/11/use-chromes-cookies-for-easier-downloading-with-python-requests/#comment-1439903383) far below the homepage. Basically, I don't have Windows, so I won't be putting that in. If you'd like to make a PR that would be awesome. I should add this to the readme.

[2015-06-22 14:13] dani14-96 commented on #2
Hi! Awesome utility! I'd like to use it with a python script in Windows, but it's not supported (like you said). So I'm going to try to modify it so that you can use it in Windows.
I'm a programming begginer so I don't know what possible differences could have Windows and Unix in this sense. What could them be?

[2015-06-22 23:46] n8henrie commented on #2
Great question -- like I said above, I don't use or have access to Windows, so I can't tell you. Let me know if you make progress on this front.

[2016-01-09 14:34] FatGhosta opened #8 "Get AttributeError Only with crontab"
I wrote a python program using pycookiecheat.
When I run it with the command `python myprogram.py`, it will run **successfully**.
However, I run it in crontab with the config below:
[code]
I get some error below:
[code]

My OS version is OS X 10.10.5.
I setup pycookiecheat by cloning pycookiecheat.git and then "python setup.py install".

[2016-01-09 14:45] FatGhosta commented on #8
I install pycookiecheat in master branch.

[2016-01-09 16:41] n8henrie commented on #8
Thanks for bringing up this issue, hopefully we'll get it figured out.

What operating system are you using? Looks like OSX?

Did you copy that traceback or retype it? because in the traceback I see `my_pass = my_passencode('utf8')` but it needs the `.` (`my_pass = my_pass.encode('utf8')`), so my guess is that you didn't paste it directly.

On thing to check will be your python path; open up a ter

[2016-01-09 17:07] FatGhosta commented on #8
first, I indeed use OSX, the version is 10.10.5.

second, I can see the `.` in the traceback, I didn't miss it. I don't know why you can't see. But it doesn't matter.

In the begining, I also though the problem is about the version of Python. But I get my python path (`/usr/bin/python`) via `whereis python` and `which python`. Now, type `command -v python`, get same one.

I also run it successfull

[2016-01-09 17:23] n8henrie commented on #8
Odd, I can see the period in the traceback on GitHub, but it is not there in the notification email.

![](http://f.cl.ly/items/370a0x3C3T1S361h3m1N/ClouDrop%20Jan%209,%202016,%2010%3A22%3A47%20AM%20Jan%209,%202016,%2010%3A22%3A47%20AM.png)

Now that I know for sure you're on OS X I'll give it a shot and see if I can figure something out.

[2016-01-09 18:23] n8henrie commented on #8
Looks like that thread is about [`gnome-keyring`](https://wiki.gnome.org/GnomeKeyring), not [`python-keyring`](https://github.com/jaraco/keyring).

[2016-01-09 18:31] n8henrie commented on #8
Do you get a pop-up requesting permission when you run it interactively?

For example, if you run: `python3 -c "from pycookiecheat import chrome_cookies; from pprint import pprint; pprint(chrome_cookies('https://github.com'))"`

If I run that, or if I put it into a bash script and run that, I get a popup requesting permission. Can't remember if this was an issue before OS X 10.11 (what I'm running

[2016-01-10 00:14] n8henrie commented on #8
I've been messing with it today and haven't had much luck using cron. I'm not sure, but I think the problem may be that you can't allow the permissions with the above window, since `python-keyring` [uses the `security` command](https://github.com/jaraco/keyring/blob/master/keyring/backends/OS_X.py), which won't work without permission on the above popup.

Alternatively, perhaps there's some enviro

[2016-01-10 02:41] FatGhosta commented on #8
I got the popup first time I run it interactively. And I chose "Allow" (not Always Allow) probably.

[2016-01-10 03:22] FatGhosta commented on #8
Thank you for your patience.
I will try it with LaunchAgents.

[2016-01-11 07:32] n8henrie commented on #8
As you can see in the above issue, the problem seems to be that the cron environment makes `security` use a different default keychain (for example, evaluate the output of the command `security default-keychain` in a regular terminal and then as a cron command). `python-keyring` [depends on `security`](https://github.com/jaraco/keyring/blob/master/keyring/backends/OS_X.py#L107) to get the password

[2016-02-15 08:11] vijay-axis opened #9 "Expedia post request to get hotel list"
I am trying to get list of hotels for a particular location in expedia. But i get a 400 bad request. Although i am able to make request from Chromium console i am getting 400 bad request when a make it from scrapy.

import scrapy
import pdb
from scrapy.http.cookies import CookieJar
from pycookiecheat import chrome_cookies

class ExpediaHotelSpider(scrapy.Spider):
    """Expedia spider"""
    name

[2016-02-20 13:42] n8henrie commented on #9
Sorry it's taken me a minute to respond.

I don't know whether or not this is in keeping with the Expedia terms of service, so I suggest you investigate to make sure. I'll keep my response more general.

I don't know much about scapy, as I try to avoid libraries that don't support python3 (although it looks like there are a few forks with compatibility).

The first step would be to ensure whether

[2016-02-20 13:46] n8henrie commented on #8
My commit was [merged into Keyring](https://github.com/jaraco/keyring/commit/3b492a948ca78eec3ac27cca7fc9c23f5919da0a), solving the issue, so it should now work with cron as well as launchd.

[2016-02-20 13:46] #8 closed

[2016-02-21 14:51] vijay-axis commented on #9
Sorry the issue was not with pycookiecheat. They issue was with hashParam in the the post request. Any way thank you for reply.

[2016-02-21 14:51] #9 closed

[2016-02-29 10:37] FatGhosta commented on #8
Cool!

[2016-05-20 22:38] pdehaye opened #10 "Malformed database schema"
When running the example, I get
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "./pycookiecheat/pycookiecheat.py", line 93, in chrome_cookies
    for k, v, ev in conn.execute(sql, (host_key,)):
sqlite3.DatabaseError: malformed database schema (is_transient) - near "where": syntax error`

[2016-05-20 22:40] pdehaye commented on #10
Note: my SQLite cookie database does appear to have an index called 'is_transient'

[2016-05-30 00:50] n8henrie commented on #10
Can you include some basic information about your setup / environment?

- OS and version
- python version
- sqlite version
- Output of `python -c 'import sqlite3; print(sqlite3.sqlite_version)'` (with whatever python you've installed pycookiecheat)

Looks like it might be [related to an outdated sqlite](http://stackoverflow.com/a/31665275/1588795) (older than 3.8.0 per that thread).

[2016-06-01 03:27] n8henrie commented on #2
Closing for lack of interest.

[2016-06-08 16:21] n8henrie commented on #10
Closing due to inactivity.

[2016-06-08 16:21] #10 closed

[2016-06-08 16:39] pdehaye commented on #10
Sorry, I missed the notification. Yes, it was due to the inappropriate sqlite version, in my case '3.7.13'

[2016-06-08 16:40] n8henrie commented on #10
No worries -- thanks for the update.

[2016-09-06 04:35] oltodosel opened #12 "Chromium v53 (v11 cookies and libsecret backend on Ubuntu)"
The latest version of chromium has new cookies that start with 'v11' and wouldn't decrypt.

[2016-09-06 14:40] n8henrie commented on #12
Please provide your operating system and version info.

[2016-09-06 14:54] oltodosel commented on #12
Linux 4.7.2-1 x86_64
Chromium 52.0.2743.85-20 - has encrypted cookies with v10 at the beginning and it works fine.
Chromium 53.0.2785.92-1 - has encrypted cookies with v11 at the beginning and decryption doesn't work.

[2016-09-06 20:37] n8henrie commented on #12
Looks like linux still uses the same implementation (`v10` / `saltysalt` / `peanuts`) unless you're using a third party password-based system.

Still the old version:
- https://chromium.googlesource.com/chromium/src/+/53.0.2785.100/components/os_crypt/os_crypt_posix.cc
- https://chromium.googlesource.com/chromium/src/+/53.0.2785.100/components/os_crypt/os_crypt_mac.mm

Comments on new version with

[2016-11-22 16:46] djtm commented on #12
I've noticed that for some values, the encrypted key does not start with either v10 or v11. Examples include  __ar_v4 from .hub.docker.com/, ref from www.intel.com/. But it's still encrypted in some way...

[2016-11-25 23:15] n8henrie commented on #12
@djtm Hmm, I am only seeing `v10` for Docker.com currently. Do you think this is related to this issue?

[2016-11-26 14:48] djtm commented on #12
I'm not 100% certain it's the same issue. I'll do more testing in the future, next week if all goes well. :)

[2016-11-29 21:54] stuglaser commented on #12
I am also seeing cookies with a `v11` prefix.

Here is an example (from running `select * ...` in sqlite): `v11�I�̫P3ζVnG@��[u�}�Ҵ���X-vfw�kOt"p|��uw6;`

Here is the same example base64 encoded:  `djEx+EmEzKtQM862HVZuR0C3+1t1r33b0rSv6KAWWC0UdmZ3o2tPPwh0InB87dR1dzY7`

I am running Google chrome 54.0.2840.71 on Linux (ubuntu)

[2016-11-30 11:19] n8henrie commented on #12
Huh, still working for me on OS X, all v10 cookies, and my Linux box broke. Reinstalling Arch, will be able to test soon. Would appreciate help from anyone knowledgeable about libsecret as mentioned above -- hopefully it may be as simple as getting the Chrome pw from keychain on OSX.

[2016-12-03 08:32] djtm commented on #12
I think starting Chrome with `--password-store=basic` *might* be a workaround.

[2017-01-03 04:57] djtm commented on #12
It looks like it's implemented here: https://github.com/bertrandom/chrome-cookies-secure/blob/master/index.js

I'm guessing `/usr/bin/google-chrome --use-mock-keychain` might also be the right way to avoid the issue.

[2017-02-15 10:59] trideceth12 commented on #12
Affecting me too.. I've been trying to get the passwords out of `keyring` with no luck. ``--password-store=basic` and `--use-mock-keychain` didn't work for me

[2017-02-15 11:14] trideceth12 commented on #12
These might be interesting:
https://chromium.googlesource.com/chromium/src/+/53.0.2785.100/components/os_crypt/key_storage_libsecret.cc
https://developer.gnome.org/libsecret/unstable/py-lookup-example.html

[2017-02-16 11:02] trideceth12 commented on #12
Okay so I managed to extract the passwords from libsecret, they are in a service called "Chrome Safe Storage"

[2017-02-17 22:05] n8henrie commented on #12
Sweet, thanks. I tried and couldn't replicate the issue a couple days ago, but I forgot to check what version of Chromium I was running (couldn't be too old, a fresh Arch installation from scratch within the last month or two). When I get back to my Arch box I'll see if I can figure out how to reproduce, and if so how to incorporate this.

Thanks again for the updates.

[2017-02-20 10:39] djtm commented on #12
@trideceth12: Could you send a pull request? Makes it easier to try this out. I'd be happy to try it.

`$ secret-tool search application chromium` works for me. Chrome didn't.

[2017-03-07 19:33] n8henrie commented on #12
I can't replicate the issue on Chromium 56.0.2924.87-1 on Arch Linux, cookies still have `v10` prefix, all tests pass. I wonder why we're seeing a difference here.

[2017-03-07 20:25] djtm commented on #12
Which desktop environment do you use @n8henrie ? Depending on your environment, chrome might not find a keychain to store it's encryption key in.

[2017-03-07 22:17] n8henrie commented on #12
That could be it. I'm on wayland / sway.

[2017-04-02 08:17] staticiceau commented on #12
Hi! I'm new to GitHub and Python so please be nice :)

I couldn't check in a Branch to create a Pull Request so here's what I did to make it work.

1. Install additional Python libraries
sudo apt-get install libsecret-1-dev
sudo apt-get install python-gi

2. Merging the code from @trideceth12 into pycookiecheat.py

added after `import sys`:
`import platform`

added before `def chrome_cookies`
[cod

[2017-04-04 12:47] n8henrie commented on #12
Great, thanks for getting me the version numbers. I'll see if I can spin up a VM and reproduce, if so will try to merge in that code.

[2017-04-04 14:13] borisbabic commented on #12
It would probably be better to check the desktop environment since that is the default for `--password-store`:
[code]

[2017-04-06 04:45] n8henrie commented on #12
Many thanks to @stat1c1c3au @trideceth12 -- been plugging away on Virtualbox / Ubuntu all day and have incorporated your code in a way that seems to work without breaking anything.

https://github.com/n8henrie/pycookiecheat/tree/56ccaf345e1dcf74ff0db1af2dbd9a5eebb43721

NB: If using in a virtualenv, you [apparently have to use the --system-site-packages flag](https://media.readthedocs.org/pdf/pygo

[2017-04-15 03:31] n8henrie commented on #12
Don't know if anybody has had time to test, but I'm going to go ahead and merge into master. I would really like to get better automated testing ideally using something like Selenium (especially since I'm not primarily on Linux, and when I am it's Arch, which is part of the reason I had such a hard time replicating this issue). I've started a docker-selenium branch to see if that might be a good s

[2017-04-17 09:41] stat1c1c3au commented on #12
Hey @n8henrie. Sorry, only just had a chance to try this out and have a couple of issues:

1/ Ubuntu

It seems that it's not quite pulling the password out of the keyring. `my_pass` is still being set to 'peanuts'

Debugging, I tracked it down to this code:
[code]
and had to change it to this to make it work:
[code]

2/ macOS Sierra 10.12.13

I couldn't upgrade using `sudo pip install --upgrade py

[2017-04-17 14:43] n8henrie commented on #12
Hmmm...

Unfortunately, I changed that line because the way it's working for you *wasn't* working for me. We'll have to track this down.

[code]
vs
[code]

The way I have it, `service.get_collections()` returns a list of all collections. I assumed the reason that `service.get_collections()[0]` wasn't working for me is that it only returns the first collection, and perhaps my setup was using a diff

[2017-04-18 18:23] n8henrie commented on #12
@stat1c1c3au Please test my latest dev commit: https://github.com/n8henrie/pycookiecheat/commit/c55c9c77652fe2fa5f498f11b98cc80dcf36bdfa

[code]

[2017-04-18 22:56] stat1c1c3au commented on #12
@n8henrie latest dev commit is good 👍

and thanks for the tip on the virtualenv

[2017-04-19 09:12] n8henrie commented on #12
Excellent, thanks for the followup. I'll merge into master and re-release
likely tomorrow.

Nate

On Tue, Apr 18, 2017 at 4:56 PM, stat1c1c3au <notifications@github.com>
wrote:

[2017-04-21 23:06] n8henrie commented on #12
v0.3.5 is out on PyPI. Thanks for helping sort this out.

[2017-04-21 23:06] #12 closed

[2017-05-20 18:54] k1nghat opened #13 "chrome support on windows"
i found this and seems to work on windows for chrome decryption: https://gist.github.com/DakuTree/428e5b737306937628f2944fbfdc4ffc

[2017-05-28 03:41] doctorcolossus opened #14 "default password isn't always set"
So I don't store any passwords in chromium and have never set a master password. I don't use gnome-keyring for anything, but it's installed. pycookiecheat fails because no "my_pass" key gets set in the config dict. The default key only gets set if this try block fails:

    try:
        import gi
        gi.require_version('Secret', '1')
        from gi.repository import Secret
    except ImportEr

[2017-05-28 13:19] n8henrie commented on #14
Huh, thanks for the report. I'll take a look.

On Sat, May 27, 2017 at 9:41 PM, Casey Jones <notifications@github.com>
wrote:

[2017-06-02 18:56] n8henrie commented on #14
@doctorcolossus Can you try the latest dev branch to make sure it's fixed?

[2017-06-04 21:11] doctorcolossus commented on #14
Unfortunately the latest dev branch still doesn't work for me:

    $ python
    Python 3.6.1 (default, Mar 27 2017, 00:27:06)
    [GCC 6.3.1 20170306] on linux
    Type "help", "copyright", "credits" or "license" for more information.

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/home/casey/pycookiecheat/pycookiecheat/pycookiecheat.py", line 159, i

[2017-06-05 03:42] n8henrie commented on #14
This is what I intended to do with that latest commit (see the diff). Can you verify that you're using the right code? (I.e. Did you make sure to uninstall before you install, since I didn't yet increment the version number, or better yet use a fresh venv?)

[2017-06-05 04:38] doctorcolossus commented on #14
Sorry, my bad. I cloned the latest but just forgot to switch branches.
Now I get a different error though:

    $ python
    Python 3.6.1 (default, Mar 27 2017, 00:27:06)
    [GCC 6.3.1 20170306] on linux
    Type "help", "copyright", "credits" or "license" for more information.

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/home/casey/pycookiecheat/

[2017-06-06 04:33] n8henrie commented on #14
Sorry, was a silly error but only showed up on Linux (didn't pop up on my local machine because I'm on OS X, luckily was caught on Travis as well as by you). Should be fixed now, please try again.

[2017-06-06 04:53] n8henrie commented on #13
Thanks for the link. What is the installation process for win32crypt? Will a simple `pip install` or `python setup.py` work?

[2017-06-06 05:02] madLyfe commented on #13
need to install pypiwin32 package and import win32crypt is all.

[2017-06-10 21:35] n8henrie commented on #14
@doctorcolossus Any updates on the newest version?

[2017-06-13 14:49] n8henrie commented on #13
Well, as [I've said in the FAQ](https://github.com/n8henrie/pycookiecheat#how-about-windows), I don't think I'll be able to work on (or maintain code related to) this issue due to lack of a PC, so I'm going to go ahead and close for now. Anybody that is interested is free to make a PR and I'll re-open -- doesn't look like it would be too hard. Thanks again for pointing out some example code.

[2017-06-13 15:02] n8henrie commented on #14
10 days without a response -- going to merge and hope that the issue was resolved.

[2017-06-13 15:12] #14 closed

[2017-06-13 15:17] doctorcolossus commented on #14
Hey n8henrie, sorry. I have had limited internet access lately. I just tested and I'm still getting a KeyError. :(

    $ git clone https://github.com/n8henrie/pycookiecheat.git
    Cloning into 'pycookiecheat'...
    cd remote: Counting objects: 560, done.
    remote: Total 560 (delta 0), reused 0 (delta 0), pack-reused 560
    Receiving objects: 100% (560/560), 83.53 KiB | 89.00 KiB/s, done.

[2017-06-13 15:21] n8henrie commented on #14
Awesome, thanks for the feedback and for the bug report.

[2017-07-30 02:09] ikelca opened #16 "Error while using lib"
I ran the same code

from pycookiecheat import chrome_cookies
import requests

url = 'http://example.com/fake.html'
cookies = chrome_cookies(url)
r = requests.get(url, cookies=cookies)

and keep getting following error, any idea?

File "/Users/kelvin/anaconda/envs/gl-env/lib/python2.7/site-packages/pycookiecheat/pycookiecheat.py", line 27
    def clean(decrypted: bytes) -> str:

[2017-07-31 09:43] joingh123 commented on #16
use v0.3.5 and try again
`pip install pycookiecheat==0.3.5`

[2017-07-31 13:58] n8henrie commented on #16
Agreed, looks like you're using the wrong version of python:

From [the installation section of the readme](https://github.com/n8henrie/pycookiecheat#installation):

If you can, I highly recommend upgrading to Python 3.6.

[2017-07-31 13:59] #16 closed

[2017-08-03 09:49] dani14-96 opened #17 "Syntax error on line 27"
Hi, I'm getting this error when trying to use pycookiecheat
[code]
I'm using MacOS Sierra (10.12.6) with Python2.7 inside virtualenv and pycookiecheat installed with pip

[2017-08-03 09:51] dani14-96 commented on #17
I misread and thought lastest version worked with Python2.7, so that's the issue

[2017-08-03 09:51] #17 closed

[2017-08-22 03:19] nicehiro opened #18 "UnicodeDecodeError: 'utf-8' codec can't decode byte in `clean` function"
Hi, @n8henrie , I found this error when I use `pycookiecheat`

**my machine version info:**
Linux version 4.9.43-1-MANJARO (builduser@manjaro) (gcc version 7.1.1 20170630 (GCC) ) #1 SMP PREEMPT Sun Aug 13 20:28:47 UTC 2017
**google-chrome version:**
60.0.3112.101 (Official Build) (64-bit)

here's my test code:
[code]
hers's traceback:
[code]
And I also research the issue https://github.com/n8henri

[2017-08-26 20:42] n8henrie commented on #18
Huh. What does this output?

[code]

[2017-08-26 22:51] nicehiro commented on #18
@n8henrie The output is 'utf-8'.

[2017-08-28 04:05] n8henrie commented on #18
Huh, well that's not the problem.

I'm having a hard time reproducing the issue -- I've tested with on Chrome 60 on MacOS 10.12.6 and Ubuntu 16.04, worked fine on both.

What do you mean by this?

[2017-08-28 10:09] nicehiro commented on #18
I'm sorry to waste you a lot of time and I'm so happy you can help me solve the problem.

My system is based on arch, in your code my_pass is peanuts, perhaps in my system my_pass is not peanuts, nor is it similar to ubuntu's my_pass.

[2017-08-28 17:32] n8henrie commented on #18
No trouble, hopefully we'll figure it out.

I have a few devices running Arch -- I was able to use pycookiecheat with
Chromium 60 on one of them this morning, also no issues there. Can you try
Chromium and let me know if you see different behavior vs Chrome?

On Mon, Aug 28, 2017 at 4:09 AM, nicehiro <notifications@github.com> wrote:

[2017-08-29 02:22] nicehiro commented on #18
I tried to use chromium, and I got the same fault. This is so wierd.

Can you tell me your my_pass on arch? Is that ‘peanuts’? Maybe my system lacks some dependencies?

[2017-09-07 13:44] n8henrie commented on #18
Yes, I left the default my_pass as far as I can recall. Will try to double check soon.

[2017-09-08 22:15] n8henrie commented on #18
Yes, still `peanuts`.

[2017-09-08 22:23] n8henrie commented on #18
What desktop environment are you using? Do you have some kind of keyring (e.g. `gnome-keyring`) that may be messing with things?

[2017-09-10 13:34] nicehiro commented on #18
@n8henrie Finally can decrypt. I reinstall the system and change another desktop xfce, (old desktop is kde). Sorry I don't know how to get the keyring in kde.

Thank you again!

[2017-09-10 14:06] n8henrie commented on #18
Huh, well I'll have to look into KDE and see if there is a default keyring. For the moment feel free to close this issue, glad you got it working.

[2017-09-26 12:39] n8henrie commented on #18
Just got another report of this by email.

[2017-10-21 03:52] n8henrie commented on #18
Okay, closing due to inactivity. If anyone using KDE wants to try to replicate, I'd appreciate it.

[2017-12-20 01:58] Chaaang commented on #13
I'm curious about a VMware Fusion is hard to install? or just virtual box and simple install a low memory win7?

[2017-12-24 22:51] n8henrie commented on #13
@Chaaang I have no problem getting a virtualized Windows system up and running, but I haven't a clue how to set up a Windows dev environment, and to be honest I'm not interested in learning just for the sake of this project. Maintaining it for Windows going forward sounds completely unappealing. As I've said, feel free to open a pull request.

[2018-01-04 10:14] Chaaang opened #19 "A question"
simple ask a question. The cookie will be writed back by chrome whenever the value of cookie changed ? Or just when I close chrome.

[2018-01-04 23:16] n8henrie commented on #19
It seems to vary. Definitely when you close Chrome, but often (not always) seems to be written to file even before closing.

[2018-01-04 23:16] #19 closed

[2018-01-05 07:02] Chaaang commented on #19
@n8henrie thanks， how about design a broswer extension, which sync browser cookies with mysql.....

[2018-01-05 13:02] n8henrie commented on #19
Sounds like a cool idea, feel free to make a pull request.

[2018-02-05 19:21] HortonX25 opened #20 "Syntax Error"
I'm attempting to run this code

`
from pycookiecheat import chrome_cookies
import requests

url = 'https://www.google.com'

cookies = chrome_cookies(url)
r = requests.get(url, cookies=cookies)

`

Upon doing so, I get this error:

root@Computer:~/PycharmProjects/Test# python Test.py
Traceback (most recent call last):
  File "Test.py", line 1, in <module>
    from pycookiecheat import chrome_cooki

[2018-02-05 23:33] n8henrie commented on #20
From the [readme](https://github.com/n8henrie/pycookiecheat#installation):

Try installing a version < v0.4.0.

[2018-02-05 23:33] #20 closed

[2018-02-06 03:40] AlpNek commented on #18
I still get this error on Arch (Netrunner) + KDE 5.12.x. Tried with python2 and python3.

[2018-02-10 01:15] n8henrie commented on #18
Are you also getting it with `0xbe`?

[2018-06-23 18:57] Lucky0711 commented on #18
I am getting this as well, same spot but with slightly different byte and message:
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf3 in position 0: invalid continuation byte

Running Linux Mint 18 Sarah 64 bit, Kernal Linux 4.4.0-116-generic x86_64
MATE 1.14.1

Chrome Version 67.0.3396.87 (Official Build) (64-bit)

[2018-06-27 15:13] n8henrie commented on #18
This will be tough for me to debug.

Can you give me the output for `python3 -c 'import sys; print(sys.getdefaultencoding())'` as per above?

Also, what is your default encoding in Chrome?

Find the `Cookies` file for Chrome / Chromium, and run the following:

[code]

[2018-06-28 23:35] Lucky0711 commented on #18
Sure - the output is:utf-8
The output of the Cookies is:UTF-8
Could it be they are a different case?    On Wednesday, June 27, 2018, 10:13:12 AM CDT, Nathan Henrie <notifications@github.com> wrote:

This will be tough for me to debug.

Can you give me the output for python3 -c 'import sys; print(sys.getdefaultencoding())' as per above?

Also, what is your default encoding in Chrome?

Find the Cook

[2018-07-06 19:40] n8henrie commented on #18
Bump @Lucky0711

[2018-07-07 19:33] Lucky0711 commented on #18
Hi sorry - was out of town for the past week.  How do I get that value?

[2018-07-07 22:40] n8henrie commented on #18
No worries.

I would recommend using [`pdb`](https://docs.python.org/3/library/pdb.html), the built-in python debugger.

For example, I think you could probably write a script like this that provokes a crash:

[code]

Name it something like `test.py`.

Run it to make sure it provokes the exception you noted above: `python3 test.py`. If it doesn't, change it to make whatever you were doing above so

[2018-08-01 15:40] n8henrie commented on #13
Nice. Can you make a few automated tests for Windows and then a pull request so we can make sure all the tests are still passing? I am not enthusiastic about maintaining code for an OS that I don't have, so incorporating automated tests will be critical.

Also, I'm not exactly sure about line 251 -- can you walk me through what this is doing? I don't even see a variable named `value`, am I missing

[2018-09-07 17:40] n8henrie commented on #18
It seems like this issue was resolved over email by unclear means through the commits on 7/6/18.

[2018-09-07 17:40] #18 closed

[2018-09-07 17:50] n8henrie commented on #13
Bump.

This issue is pending a response and is blocked until I have more info. To keep the issue list groomed, I will often close these stalled issues if they go a prolonged time without a response. In this case, I will give it another week or so.

[2018-10-16 14:06] n8henrie commented on #13
I haven't gotten a reply, so I'm closing this issue as dead. Please feel free to let me know if I should re-open.

[2018-10-16 14:06] #13 closed

[2019-01-17 19:57] ikhmyz commented on #18
Had the same issue, the next solution helped:

[code]

found here [https://stackoverflow.com/a/44808566](https://stackoverflow.com/a/44808566)

[2019-02-27 06:07] hieonn opened #23 "GLib.Error: g-io-error-quark problem"
Dear guys!

I've got a problem on using pycookiecheat in Ubuntu 16.04 LTS, python 2.7 environment. All installation  seem to be successful but got a problem when using the pycookiecheat (version 0.3.5). The error message is "GLib.Error: g-io-error-quark: Error calling StartServiceByName for org.freedesktop.secrets: Timeout was reached (24)," so that I've tried to resolve the issue but never have a

[2019-03-01 22:36] n8henrie commented on #23
Thanks for including the version info.

I know nothing about that library; it seems likely that the error that you're experiencing is something you'd need to address with them, and not with pycookiecheat.

To be sure, I'll need a fair amount more info, like the stack trace and what command you're running to provoke the error.

I'll leave this issue open for a week or so to see if any others want t

[2019-03-02 03:27] hieonn commented on #23
Hi! n8henrie!

Thanks for your comment and your great work!. The lib seems to be related to Secret. The error message in pycheatcookie is like belows.

File "/usr/local/lib/python2.7/dist-packages/pycookiecheat/pycookiecheat.py", line 89, in chrome_cookies
    service = Secret.Service.get_sync(flags)
GLib.Error: g-io-error-quark: Error calling StartServiceByName for org.freedesktop.secrets: Timeou

[2019-03-04 23:50] n8henrie commented on #23
If you can't run the code below, then I think the issue is something with your setup.

[code]

Reference: https://developer.gnome.org/libsecret/unstable/SecretService.html

[2019-03-08 11:43] vcheckzen opened #24 "Depend on pycryptodome instead of pycrypto"
This package should depend on pycryptodome instead of pycrypto, as it is a actively maintained drop-in replacement for pycrypto. Pycrypo has issues installing on Windows, and hasn't been maintained since ~2013.

Due to the install issue I'm having to temporarily fork this library, since overriding dependencies is apparently quite difficult to do.

[2019-03-21 10:34] hieonn commented on #23
@n8henrie Great thanks for your clue and now I've resolved the problem I had committed.

First of all, I was trying to use the script over ssh so that gi service didn't work. so that I've made a setting statement for my own secret in my_pass variable with if clause by "if SSH_CONNECTION" in os.environ" getting secret information

Secondly, In SSH environment, I needed to set cookie file path in fu

[2019-03-26 14:51] hieonn commented on #23
I've been trying to find how to use the service in ssh but failed. I will close the issue anyway and will add up any comment if I find other way to make it. Thanks!

[2019-03-26 14:51] #23 closed

[2019-03-28 05:17] mahesh3097 opened #25 "valueError: Namespace Secret not available"
I am trying to run a flask application in a docker container . This application uses pycookiecheat to obtain chrome cookies for a login. The app works well when it is on my machine. But i am getting these errors when i am running it on a container

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/flask/app.py", line 2309, in __call__
    return self.wsgi_app(enviro

[2019-03-28 17:21] n8henrie commented on #25
raise ValueError('Namespace %s not available' % namespace)

This seems like a problem with the `gi` library, likely with its "sandbox" in a docker container; I'm afraid you'll have to open an issue elsewhere.

I'll be happy to leave the issue open here for a week or so for visibility, to see if anyone else has other ideas, but I think it's likely that the solution may require changes to your docke

[2019-03-28 17:27] n8henrie commented on #24
I may go back to [cryptography](https://github.com/pyca/cryptography) at some point, but for now pycrypto seems to be working fine for [the officially supported platforms](https://github.com/n8henrie/pycookiecheat#how-about-windows).

Thanks for bringing my attention to [pycryptodome](https://www.pycryptodome.org/en/latest/), I'll check it out, especially if I ever want to bring pycookiecheat to w

[2019-03-28 17:27] #24 closed

[2019-03-31 20:58] mahesh3097 commented on #23
Hey @hieonn , I am facing the same issue right now. I am trying to run a flask application on a server and I am getting this error. Can you help me out with this as I am not able to fully understand what this error is and how to resolve it

[2019-04-01 04:15] #25 closed

[2019-04-01 04:22] mahesh3097 opened #26 "GLib.GError: g-io-error-quark: Cannot autolaunch D-Bus without X11 $DISPLAY (0)"
I am getting this error as I am trying to run my flask app on a server running on Ubuntu
Not really sure what the cause is or how to resolve it
Can you help me with this issue?

Traceback (most recent call last):,
  File "/usr/local/lib/python3.6/dist-packages/flask/app.py", line 2292, in wsgi_app,
    response = self.full_dispatch_request(),
 File "/usr/local/lib/python3.6/dist-packages/flask/app

[2019-04-24 15:01] n8henrie commented on #26
I can't help much, sorry.

As I noted in the related issue (that you commented in), this [is not a problem with pycookiecheat](https://github.com/n8henrie/pycookiecheat/issues/23#issuecomment-469474851) -- if you can run the (non-pycookiecheat) code I included in that comment without errors, please let me know. If you cannot, please work on that issue first. If you find a solution, I'd appreciate

[2019-04-24 15:01] #26 closed

[2019-05-19 12:20] munish259272 opened #27 "chrome_cookies(url) : UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc0 in position 0: invalid start byte"
###Google Chrome : Version 73.0.3683.75 (Official Build) (64-bit)
### python version 3.7
### centos-release-7-6.1810.2.el7.centos.x86_64

This is how i installed it :
########################################################################
(base) [msingh@centos Python Epiphanies]$ pip install git+https://github.com/n8henrie/pycookiecheat.git
Collecting git+https://github.com/n8henrie/pycookiecheat

[2019-05-27 14:17] n8henrie commented on #27
These errors are tough to debug, since I can't reproduce them locally.

To even give it a shot, I'd need you to either post the bytes for `decrypted`.

Otherwise, you're welcome to jump in the debugger and try a few different codecs to see if you can find one that works.

[2019-06-05 04:03] n8henrie commented on #27
Bump.

This issue is pending a response and is blocked until I have more info. To keep the issue list groomed, I will often close these stalled issues if they go a prolonged time without a response. In this case, I will give it another week or so.

[2019-06-09 11:12] munish259272 commented on #27
You can close this case.
I believe i was having problem with importing gi module

instead i  am using secret storage module now and it seems to work for my Linux machine.
I am not an expert in python but somehow it works now for me with little editing.

def get_linux_config(browser: str) -> dict:
    """Get the settings for Chrome/Chromium cookies on Linux.

    Args:
        browser: Either "Chro

[2019-06-09 16:25] #27 closed

[2019-09-23 12:17] michaeljoseph commented on #24
Given https://github.com/pyupio/safety-db/issues/2252 (https://www.cvedetails.com/cve/CVE-2013-7459/), perhaps this is a good moment to switch to `pycryptodome` or `cryptography`?

[2019-09-23 14:07] n8henrie commented on #24
Thanks for pointing this out. I had moved away from cryptography due to
difficulties with installation, but this was pre 2.0 and it looks like they
now have wheels that should make this much more streamlined.

https://cryptography.io/en/latest/installation/#building-cryptography-on-linux

included.

Here is the commit of interest that I would need to reverse:

https://github.com/n8henrie/pycookiec

[2019-09-23 15:02] michaeljoseph commented on #24
👍  to `cryptography`, but please consider switching to `pycryptodome` in the short term to appease security scanners?

[2019-10-08 13:27] michaeljoseph commented on #24
🙌 👍

[2019-10-29 02:52] FuhuXia opened #29 "sqlite3.OperationalError: database is locked"
- **Operating system and version**: macOS 10.13.6
- **Python version**: 3.7.4
- **pycookiecheat version**: v0.4.5

## After making a few thousand of requests, it gives error
[code]
A work-around is to close Chrome and re-open Chrome to be able to continue making more requests.

## [WHYT](http://mattgemmell.com/what-have-you-tried)

---

Please make sure you've taken these steps before submitting a

[2019-10-29 16:47] n8henrie commented on #29
Huh, thanks for the report. Can I ask about your use case? Are you retrieving cookies for thousands of URLs at once? Or doing so over time (i.e. a long-running process)?

Are you browsing while requesting the cookies? I know Chrome does lock the file at times; I generally recommend quitting the application prior to using pycookiecheat to avoid issues here.

[2019-10-29 17:04] FuhuXia commented on #29
I have a list of 30k URLs. I am processing them one by one over time. The whole process usually take 1+ hour. Sometimes it finishes fine from beginning to end, sometimes it has this glitch 2-3 times during the process.

I occasionally browse the site to keep session live. The glitch happen on its own, not when I am browsing.

[2019-10-29 17:07] n8henrie commented on #29
Yes, I have also run into a similar intermittent error when trying to access the cookie file while Chrome is running. I don't know of a better solution than not running while browsing, since Chrome seems to lock the database on occasion.

Perhaps there are some SQLITE flags to open with read-only access that bypass locking concerns?

[2019-11-19 18:58] n8henrie commented on #29
Looks like this may be out of my control:

https://stackoverflow.com/questions/7857755/is-it-possible-to-open-a-locked-sqlite-database-in-read-only-mode

Unclear if adding `?mode=ro` may help: https://docs.python.org/3.8/library/sqlite3.html#sqlite3.connect

[2019-11-19 20:52] n8henrie commented on #29
Please see if https://github.com/n8henrie/pycookiecheat/commit/230574e9e19b3883f7a6fea17d8fa365d385b505 helps

[2019-11-28 22:32] n8henrie commented on #29
Bump.

This issue is pending a response and is blocked until I have more info. To keep the issue list groomed, I will often close these stalled issues if they go a prolonged time without a response. In this case, I will give it another week or so.

[2019-12-12 22:45] #29 closed

[2020-01-21 01:20] aakhmetz commented on #27
I had the same problem, and solution of munich259272 worked for me

[2020-01-22 13:41] ozgen92 commented on #29
@n8henrie I had the same problem, and probably related information: I was using a lot of concurrent calls.

I found the process that has locked the file and it seems to be:
oezgen             637   0.0  0.2  4681680  26532   ??  S     5Nov19 183:07.43 /Applications/Google Chrome.app/Contents/Frameworks/Google Chrome Framework.framework/Versions/78.0.3904.70/Helpers/Google Chrome Helper.app/Content

[2020-01-26 14:23] n8henrie commented on #29
Thanks for chiming in. Would you mind trying the dev branch (which includes a commit to open in read-only mode) and see if you still have this issue?

[2020-02-13 20:40] stegr04 commented on #2
Hi @n8henrie ,

Adding windows support is something I just setup in a fork of your project. I'd like to offer it back in the form of a pull request. But, before I did that had some questions:
1. Would you like a seaparate issue to be created? I've never done a pull request before.
2. I'd seen, in a different issue for windows support, where you recommended setting up tests. I'm okay with doing thi

[2020-02-13 21:54] n8henrie commented on #2
That's great!

No, I'll re-open this one.

Yes, tests are pretty important -- especially since I don't have a Windows machine to help ensure that I'm not breaking this when I make changes on my end. What these tests will look like may depend on the code you're adding, and where it differs from Unix systems.

I am about to be mostly unavailable for 10 days or so, just FYI.

[2020-02-19 02:48] stegr04 commented on #2
Hi @n8henrie ,
Sounds good, thanks! Sorry I've not responded sooner. Had a few things come up in the meantime and I actually deleted my original fork since I was writing all my changes to my master branch instead of using a separate branch. Now that I've got that all squared away, just a few questions:
1. Would you like me to send the pull request to your dev or master branch? The changes I made w

[2020-02-26 22:38] ozgen92 commented on #29
@n8henrie thanks for the quick fix (and sorry for the late reply from my side)

I haven't had this problem since my last comment, although I am still using a lot of concurrent calls. I'm not sure how I triggered it before...

I will start using dev branch with pycookiecheat and post more details here if I encounter the same issue again.

[2020-02-27 15:22] n8henrie commented on #29
Sounds good, thanks for the update.

[2020-02-27 16:08] n8henrie commented on #2
Thanks, we did :)

Thanks for pointing out ambiguity here, I have updated my contributing guidelines (at least on the dev branch): https://github.com/n8henrie/pycookiecheat/blob/dev/CONTRIBUTING.md

In short, you should base your branch on `dev` and the PR should go back to my `dev` branch.

Awesome, definitely a great habit to get into!

Yes. It's tough, I'm not entirely sure whether additional t

[2020-03-19 17:37] #2 closed

[2020-07-15 11:25] jmspaggi opened #30 "Empty response"
- **Operating system and version**: Debian 4.19.118-2+deb10u1 (2020-06-07) x86_64 GNU/Linux
- **Python version**: Python 3.7.6
- **pycookiecheat version**: Dev branch

## My Issue
I'm not sure if I'm doing something wrong or if there is an issue.
first, it says that by default it takes chromium cookies, which is what I want. However I'm getting this error:
[code]
Changing to the correct folder wit

[2020-07-15 13:54] jmspaggi commented on #30
Ok.
Passing the password and the browser works well and gives the expected result. I think it's a valid workaround.

"cookies = chrome_cookies(url, browser="Chromium", password="abcdabcdabcdabcdabcdabcd")"

PAssword is retrived with secret-tool search application chromium.

Closing the issue,.

[2020-07-15 13:54] #30 closed

[2020-07-15 20:52] n8henrie commented on #30
You're right, it looks like the code path now checks for Chrome before Chromium -- on one hand I'd prefer to switch this back to stay consistent with the docs (and to make the open source project the "easier" path), but on the other hand this might break existing functionality. I will probably just update the docs to note that it looks for Chrome, then Chromium.

I'm not familiar with secret-tool

[2020-10-26 15:20] PraveenPenguin opened #31 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb9 in position 3: invalid start byte"
- **Operating system and version**: fedora 32
- **Python version**: 3.8
- **pycookiecheat version**: pycookiecheat-0.4.5

## My Issue

facing issue on UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb9 in position 3: invalid start byte

[Praveen@praveenpenguin setup]$ python s.py
Traceback (most recent call last):
  File "s.py", line 8, in <module>
    cookies = chrome_cookies(url)
  File "/

[2020-10-27 22:25] n8henrie commented on #31
Please take a look at my responses in the [existing issues for this error](https://github.com/n8henrie/pycookiecheat/search?q=UnicodeDecodeError&type=issues), let me know if you find anything of interest there.

[2020-10-28 04:46] PraveenPenguin commented on #31
@n8henrie thanks for helping ,  i already brows those issues and tried work around but none of help me

[2020-10-28 08:37] n8henrie commented on #31
Can you be more specific about what you've tried?

Also, what are your system language and locale settings?

[2020-11-04 17:56] PraveenPenguin commented on #31
1- I try to see check it if my system get config loaded  my_pass key but this line returns None

https://github.com/n8henrie/pycookiecheat/blob/master/src/pycookiecheat/pycookiecheat.py#L164-L165

[code]

2- than i try

https://github.com/n8henrie/pycookiecheat/issues/18#issuecomment-455310992

here also same issue ,

now i bump up my python to 3.9 and fedora system to 33 but still same issue :(

[2020-11-06 16:19] n8henrie commented on #31
Thanks for looking into that. What browser (and browser version) are you
using?

[2020-11-07 13:39] PraveenPenguin commented on #31
@n8henrie thanks for help , I am using Google Chrome Version 86.0.4240.183 (Official Build) (64-bit)

[2020-11-17 17:20] n8henrie commented on #31
I've never used fedora. What desktop environment are you using? Does it have a built-in password manager?

[2020-11-23 08:06] PraveenPenguin commented on #31
i am using KDE but i install gnome-kyring

[2020-12-15 22:32] n8henrie commented on #31
Sorry this is taking so long.

I just pushed a commit to the `issue_31` branch that should print out the bytes that are causing the error; I'm hoping this will help us debug what encoding it might be using.

Can you install this branch, see if you can recreate the error above, and then consider (privately) sending me the output?

Note that this will probably be a password of yours, possibly an imp

[2020-12-16 13:08] PraveenPenguin commented on #31
@n8henrie thanks lot for help , it worked for me as i did update my Browser not sure what was helped here as i used master itself not form pip

[2020-12-30 03:30] n8henrie commented on #31
Huh. Well glad it got sorted out!

[2021-01-12 09:44] rafaelribeiroo commented on #27
For me it's returning
`NameError: name 'secretstorage' is not defined
`
Do u know what could be?

[2021-01-12 11:25] munish259272 commented on #27
you can try installing secret storage

pip install SecretStorage

[2021-01-14 03:32] rafaelribeiroo commented on #31
Did it work on your machine? I'm having the same error and I have no idea what I do to solve this

[2021-01-14 03:33] rafaelribeiroo commented on #27
I already installed

[2021-01-14 17:35] n8henrie commented on #27
Make sure you're using the same python that you used to install.

For example, if you use: `/path/to/python -m pip install secretstorage`, then you should be able to import: `/path/to/python -c 'import secretstorage'`

[2021-02-12 17:33] eduardohayashi commented on #31
Im still having the issue, but for /0xce character

Unexpected error: ‘utf-8’ codec can’t decode byte 0xe3 in position 18: invalid continuation byte

$ python -V
Python 3.7.3

$ python3 -c 'import sys; print(sys.getdefaultencoding())'
utf-8

[2021-02-15 10:17] PraveenPenguin opened #36 "cookies expire in day or in random time"
- **Operating system and version**: Fedora 33
- **Python version**:python 3.7
- **pycookiecheat version**: master branch

## My Issue
cookies expire in day or in random time

## [WHYT](http://mattgemmell.com/what-have-you-tried)

---

Please make sure you've taken these steps before submitting a new issue:

- [x] Include the Python and pycookiecheat version in your issue
- [ ] Ensure you're runnin

[2021-02-15 14:22] n8henrie commented on #36
I'm not sure that I understand the question, but I think the answer to this question will vary depending on the specifics of the website and the specific cookie on that website.

In other words, the date that a cookie will expire varies depending on the cookie.

[2021-02-15 14:22] #36 closed

[2021-04-02 19:20] NightMachinary commented on #29
[**@n8henrie**](https://github.com/n8henrie) commented on [Jan 26, 2020, 5:53 PM GMT+3:30](https://github.com/n8henrie/pycookiecheat/issues/29#issuecomment-578506495 "2020-01-26T14:23:11Z - Replied by Github Reply Comments"):

Is this commit still in the dev branch? I just installed `git+https://github.com/n8henrie/pycookiecheat.git@dev`, and I still get

[code]

[2021-04-03 02:46] n8henrie commented on #29
Comparing the commit I linked above: https://github.com/n8henrie/pycookiecheat/commit/230574e9e19b3883f7a6fea17d8fa365d385b505 with the current dev branch: https://github.com/n8henrie/pycookiecheat/blob/e8e9893bb5c7f4f9d0514e605a5412892f97f912/src/pycookiecheat/pycookiecheat.py#L234 it looks like it is.

So I guess that commit didn't prevent the issue, though it still seems like a good idea (since

[2021-04-04 22:51] ru111 opened #37 "Two-factor authentication"
Is there a way to bypass an initial two-factor authentication ("you are logging in from a new browser, send an authentication code to email")? I am logged in on chrome but through python it registers as "new browser". Thank you for developing this by the way, it has made getting past the login page so easy.

I'm just using simple script to download a pdf at `url` which requires login. But unfortun

[2021-04-05 13:04] n8henrie commented on #37
Huh, good question. I assume that a combination of cookies and using the same user agent and source IP address should do the trick, but I've never tried.

What browser are you using? And what Python library for making the request?

[2021-04-05 18:01] ru111 commented on #37
Is there a way to pass specific user agent and source IP? I'm using google chrome browser on a mac and the python library I'm using to download the page to pdf is pdfkit https://pypi.org/project/pdfkit/

[2021-04-05 20:59] n8henrie commented on #37
Sorry, I hadn't seen the edit with the example code.

No, your source IP should be wherever you're making the request from, so if you tried to log in from home and then make a request from some remote server, it would probably flag that.

You'll need to look at the requests documentation for setting the user agent in requests, that's not a pycookiecheat thing.

[2021-04-06 20:51] ru111 commented on #37
Thanks for the info, I'm actually using the same machine so the IP should be the same with browser & python access. I understand that this is not a pycookiecheat's issue, but thanks for pointing me to user agents because now I've passed my user agent in the request it gets the correct page. Thanks again!

[2021-04-06 21:25] n8henrie commented on #37
That's awesome, I'm glad to hear it!

If the issue is resolved, would you mind closing?

[2021-04-06 22:10] #37 closed

[2021-08-31 08:15] f3anaro commented on #18
I was experiencing the same issue. It turned out that the problem was that `pycookiecheat` was running in a virtualenv with no access to the system-level `gi` package. `pycookiecheat` fails silently if the package is not found.

Some solutions to this problem:

1. Create the virtualenv with `--system-site-packages`
2. Install [PyGObject](https://pygobject.readthedocs.io/) in the virtualenv: `pip i

[2021-09-06 09:39] ChillerDragon commented on #31
I also started to get this issue after some update. Using chromium on archlinux.

[code]

[code]

[code]

[2021-10-14 20:37] n8henrie commented on #31
@ChillerDragon -- sorry for the long response time.

I can run your *identical* code on the same version on Arch with no error. As far as I can tell, these errors have to do with a user's desktop environment and any secrets utilities that it provides.

What desktop are you using?

[2021-10-14 20:38] ChillerDragon commented on #31
I used gnome on both machines that I was testing it. Both got the error.

[2021-10-15 17:38] ChillerDragon commented on #31
@n8henrie pycookiecheat used to just work fine on all my devices now I can not get it to work anywhere

python-gi is not a debian 11 package. I tried gnome, xfc, i3-gaps and openbox on debian 11 and archlinux. I tried deleting ~/.config/chromium and reinstalling chrome. Either it fails on UnicodeDecodeError or with a SQLite error saying unable to open database.

[2021-10-15 18:39] n8henrie commented on #31
Huh, well thanks for trying so many options.

Those are unrelated errors. See also: <https://github.com/n8henrie/pycookiecheat/issues/29>

Regarding Gnome -- did you try the code I linked? https://github.com/n8henrie/pycookiecheat/issues/23#issuecomment-469474851

I also tried uninstalling gnome-keyring that caused

Sorry you're having trouble. This has happened to several others, and it's not obv

[2021-11-29 17:21] n8henrie commented on #31
Sorry for the long delay.

So it looks like it is finding `Chromium Safe Storage`.

Below `print(item.get_label())`, what do you get if you add some additional code from https://github.com/n8henrie/pycookiecheat/blob/26fe8449318e6ed8400cc4d0cbe62b2ddacada6b/src/pycookiecheat/pycookiecheat.py#L149, such as:

[code]

I'm taking this from:

- <https://lazka.github.io/pgi-docs/#Secret-1/classes/Item.h

[2021-11-30 08:25] ChillerDragon commented on #31
[code]

[code]

[2021-12-12 16:55] n8henrie commented on #31
Thanks for your time, sorry for all the back-and-forth on this.

If you run something like the below,

from pycookiecheat import get_linux_config

print(get_linux_config("Chromium"))

Do you see config[“my_pass”] having the same value as you see above with
under label: Chromium Safe Storage?

I also wonder if having a duplicate Chromium Safe Storage may be an issue.

[2021-12-13 08:38] AmazingXia opened #38 "chrome v96.0.4664.93 Cookie file is not in 'Google\Chrome Dev\User Data\Default\Cookies'"
this is my code

[code]

[2021-12-13 08:40] AmazingXia commented on #38
![image](https://user-images.githubusercontent.com/47840241/145779220-23f4ecb4-0288-41f4-9380-54f166cbdaca.png)

[2021-12-13 08:42] AmazingXia commented on #38
please help me

[2021-12-13 19:22] n8henrie commented on #38
I'm not sure how to help you; while much of the code looks similar, this
doesn't look like you're using pycookiecheat at all.

[2021-12-14 02:58] AmazingXia commented on #38
ok, you  will found it doesnt  work if you are using the lastest  version  of Chrome,   because cookie file is not exist in path

[2021-12-14 15:25] n8henrie commented on #38
Please use the template that should have been populated when you created this issue or pull request. I've taken a modest amount of time to set it up so that it requests the information necessary for me and mothers to be able to help, and frankly it's frustrating when users ignore it, delete it, or leave out requested details.

I'll leave this open for a week or so, but after that I think it's in e

[2021-12-14 15:58] ChillerDragon commented on #31
[code]

yes same password as the first entry (the L6):

[code]

[2021-12-14 16:42] n8henrie commented on #31
What happens if you manually pass in the second `Chromium Safe Storage` password from above? I wonder if it could be breaking because it uses the first password it finds when the second is the correct one?

[code]

[2021-12-17 12:30] ChillerDragon commented on #31
[code]

[code]

[code]

[2021-12-22 04:13] #38 closed

[2021-12-31 10:00] Samge0 commented on #31
same error

[2021-12-31 19:06] n8henrie commented on #31
@Samge0 If you're hoping I can figure this out someday, adding some context would be nice. Hardware, OS, desktop environment, browser, version, etc...

After all these years, I have still been unable to reproduce this error on my end, either on multiple versions of MacOS, Arch Linux, or now Ubuntu via Docker -- but enough users have reported it that I'm *sure* it's real, I just need to figure out

[2022-01-05 00:44] n8henrie commented on #31
@ChillerDragon

I'm still having a hard time reproducing the issue.

I just spent several hours installing a vanilla ubuntu, debian, and arch system (using gnome) in virtualenvs -- pycookiecheat shows no errors on all three (and my native arch-i3 based system as well).

Debian fails to decode the cookies, but it doesn't throw any errors (just returns a dict of `{cookie_name1: "", cookie_name2: ""}

[2022-01-11 03:36] AmazingXia commented on #38
thank you  sir, Chrome  v96  has  moved
Changed windows_cookies path in lines 372-374 to work with Chrome v96 from ...\\Default\\Cookies to ...\\Default\\Network\\Cookies
Chrome 96 release notes:
https://support.google.com/chrome/a/answer/7679408?hl=en#:~:text=Network%20data%20moves%20to%20a%20new%20folder%20on%20Windows%C2%A0%20%C2%A0

[2022-01-29 15:19] n8henrie commented on #31
@ChillerDragon would you be willing to use e.g. virtualenv to try to recreate your environment in a fresh installation and see what happens? If you're able to recreate the error then perhaps you can tell me the steps you went through so I can see how to reproduce it on my end.

At this point, I don't think I'll be able to work this out unless I can reproduce the error.

[2022-02-10 12:03] n8henrie commented on #31
Bump.

This issue is pending a response and is blocked until I have more info. To keep the issue list groomed, I will often close these stalled issues if they go a prolonged time without a response. In this case, I will give it another week or so.

[2022-04-07 17:15] n8henrie commented on #31
I haven't gotten a reply, so I'm closing this as dead. Please feel free to let me know if I should re-open.

[2022-04-07 17:15] #31 closed

[2022-04-27 03:51] hraftery opened #39 "Enhancement: support the Slack app's cookies"
- **Operating system and version**:

macOS 11.6.5 and Linux Mint 20

- **Python version**:

3.9.12 and 3.8.10

- **pycookiecheat version**:

v0.4.7 and master head.

## My Issue

The Slack desktop app uses the same cookie storage mechanism as Chrome and Chromium, and there appears to be no more advanced tool for Cookie extraction than `pycookiecheat`. Although the use cases for extracting cookies

[2022-04-27 06:09] hraftery commented on #39
Sorry, relevant commit is [here](https://github.com/hraftery/pycookiecheat/commit/a82d32730b01ebe20393ab5ca7b3267975ed0767)

[2022-05-03 02:14] n8henrie commented on #39
Interesting find!

Yes, can you please make this into a PR?

Any chance you can also incorporate a test or two?

[2022-07-15 17:25] n8henrie commented on #39
@hraftery Are you interested in making a pull request? Otherwise I'll likely close this soonish.

[2022-07-16 05:02] hraftery commented on #39
I am yes. Went travelling immediately after your message and haven’t returned to it, but intend to do so.

Sent from my iPad

[2022-10-11 07:15] n8henrie commented on #39
Sweet, thanks. Enjoy your travels!